<!-- {{outlet}} -->
<div class="empty">
  {{
    project-workflow projectWorkflow=model.projectWorkflow
    model=model assignTo='assignTo' startProject='startProject'
    updateCommunication='updateCommunication'
    setApprover='setApprover' project=model.project
    updateAction='updateAction' tasks=model.tasks
    collaborators=model.collaborators invitelistofmemeber='invitelistofmemeber'
    collaborations=model.collaborations reloadPage='reloadPage'
    assignWorkflow='assignWorkflow' toggleLock='toggleLock'
    updateDocumentInfo='updateDocumentInfo'
    updateDecision='updateDecision' saveAsTemplate='saveAsTemplate'
  }}
</div>