<div class="g-landing">
	<div class="scrollable-section">
		<div id="section-header" class="gl-section">
			<div class="header__top">
				<div class="gl-logo"></div>
				{{#link-to 'reg.register'}}<button class="gl-button orange small">Sign up</button>{{/link-to}}
				{{#link-to 'reg.login' class='gl-link'}}Login{{/link-to}}
			</div>
			<div class="header__intro">
				<h1>Introducing Grapple</h1>
				<h3>A tool for creating better project plans and documents</h3>
			</div>
			<div class="header__separator"></div>
			<div class="header__cta">
				<div class="cta-text">
					We believe <span>Great Projects</span> start with <span>Great Planning</span>
				</div>
				<a href="#section-template" class="scroller">{{#link-to 'reg.register' class='gl-link'}}<button class="gl-button orange">Get started free</button>{{/link-to}}</a>
			</div>
			<div class="header__subscribe">
				<a href="#section-template" class="scroller">
					<i class="fa fa-angle-double-down"></i>
				</a>
				<!-- <div class="form-block">
					{{landing/g-landing-subscribe subscribed=is_subscribed email=email}}
				</div> -->
			</div>
			<div class="header__nav">
				<a href="#section-template" class="gl-link ico ico-down scroller">How it works</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-template" class="gl-section">
			<div class="template__top">
				<h1>Select Template</h1>
				<h3>Base your document on an existing best practice one</h3>
			</div>
			<div class="template__content cls-content">
				<div class="card-1 gl-card animated"></div>
				<div class="card-2 gl-card animated"></div>
				<div class="card-3 gl-card animated"></div>
			</div>
			<div class="gl-nav">
				<a href="#section-customize" class="gl-link ico ico-down scroller">Customize</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-customize" class="gl-section">
			<div class="customize__top">
				<h1>Customize & Improve</h1>
				<h3>Simple, elegant writing experience</h3>
			</div>
			<div class="customize__content cls-content">
				<div class="card-1 gl-card animated"></div>
			</div>
			<div class="gl-nav">
				<a href="#section-sections" class="gl-link ico ico-down scroller">Sections</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-sections" class="gl-section">
			<div class="sections__top">
				<h1>Re-use Sections</h1>
				<h3>Easily insert content from other project documents</h3>
			</div>
			<div class="sections__content cls-content">
				<div class="sections-card-group animated">
					<div class="card-col-1">
						<div class="card-1 gl-card"></div>
						<div class="card-2 gl-card"></div>
					</div>
					<div class="card-col-2">
						<div class="card-3 gl-card"></div>
					</div>
					<div class="card-col-3">
						<div class="card-4 gl-card"></div>
						<div class="card-5 gl-card"></div>
					</div>
				</div>
			</div>
			<div class="gl-nav">
				<a href="#section-link" class="gl-link ico ico-down scroller">Link Information</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-link" class="gl-section">
			<div class="link__top">
				<h1>Link Project Information</h1>
				<h3>Keep everything up to date by linking information<br>When things change, do it in one place</h3>
			</div>
			<div class="link__content cls-content">
				<div class="card-1 gl-card animated">
					<div class="overlayer"></div>
				</div>
				<div class="card-2 gl-card animated">
					<div class="overlayer"></div>
				</div>
				<div class="marker-1 gl-marker animated"></div>
			</div>
			<div class="gl-nav">
				<a href="#section-collaborate" class="gl-link ico ico-down scroller">Collaborate</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-collaborate" class="gl-section">
			<div class="collaborate__top">
				<h1>Collaborate</h1>
				<h3>Work with your team to make your project documents and plans even better</h3>
			</div>
			<div class="collaborate__content cls-content">
				<div class="card-1 gl-card animated"></div>
				<div class="card-2 gl-card animated"></div>
				<div class="card-3 gl-card animated"></div>
				<div class="card-4 gl-card animated"></div>
				<div class="card-5 gl-card animated"></div>
			</div>
			<div class="gl-nav">
				<a href="#section-generate" class="gl-link ico ico-down scroller">Generate</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-generate" class="gl-section">
			<div class="generate__top">
				<h1>Generate & Approve</h1>
				<h3>Generate beautiful documents and request approvals</h3>
			</div>
			<div class="generate__content cls-content">
				<div class="card-1 gl-card animated"></div>
				<div class="card-2 gl-card animated"></div>
				<div class="card-3 gl-card animated"></div>
				<div class="card-4 gl-card animated"></div>
				<div class="marker-1 gl-marker animated"></div>
				<div class="marker-2 gl-marker animated"></div>
			</div>
			<div class="gl-nav">
				<a href="#section-footer" class="gl-link ico ico-down scroller">Get Started</a>
			</div>
		</div>
		</div>

		<div class="scrollable-section">
		<div id="section-footer" class="gl-section">
			<div class="footer__top">
				<div class="gl-logo"></div>
			</div>
			<div class="footer__cta">
				<div class="cta-text-1">
					<span>Great Projects</span> Start with <span>Great Planning</span>
				</div>
				<div class="cta-text-2">
					First Document Free - Unlimited Users
				</div>
				<!-- {{#link-to 'reg.register'}}<button class="gl-button orange">Plan your first project now</button>{{/link-to}} -->
			</div>
			<div class="footer__subscribe">
				<!-- <div class="form-block">
					{{landing/g-landing-subscribe subscribed=is_subscribed email=email}}
				</div>				
				-->
				<a href="#section-template" class="scroller">{{#link-to 'reg.register' class='gl-link'}}<button class="gl-button orange">Get started free</button>{{/link-to}}</a>
			</div>
			<div class="gl-nav">
					<a href="#section-header" class="gl-link ico ico-up scroller">Back to Top</a>
			</div>
		</div>
		</div>		
</div>
{{landing/g-landing-iframe subscribeDone='subscribed'}}
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=578830248939141&ev=PageView&noscript=1"/></noscript>