<div class="g-success">
	<h1>Great Job!</h1>
	<div class="message">You're now part of the Yakkaplan family!</div>
	<div class="checkmark">
		<div class="icon ico_reg_check"></div>
	</div>
	<div class="emailsent">
		We have sent an email confirmation to:
	</div>
	<div class="email">
		{{email}}
	</div>
	<div class="verifyaccount">
		Please verify your account by clicking the link we sent
	</div>
</div>