Edit Project
{{#g-popup isOpened=on}}
  <ul class="context-list">
    <li {{action 'onEditProjectName'}}>Edit Project Name</li>
    <li {{action 'onDeleteProject'}}>Delete Project</li>
  </ul>
{{/g-popup}}
