<div class="app-route" id="app-router">
  {{g-header updateProfile='updateUserProfile' userInformation=userInformation  }}
  {{app/main-page updateUserProfile='updateUserProfile' userInformation=userInformation}}
</div>
