<div class="modal-overlay {{if active 'active' ''}}">
  <div class="modal confirm-modal" style="width: auto; height: auto;">
    <a class="close ico_close-mo" href="" {{action (toggle 'active')}}></a>
		<div class="config-text">
			<span><b>Workflow Configuration Instructions:</b></span>
			<p>1. This is your Workflow Configuration Editor. It consists of the main Workflow Canvas to the left, and the Task Panel above.</p>
			<p>2. Different shapes represent different kinds of Tasks. Hover over the icons in the Task Panel to see what each shape is for.</p>
			<p>3. Click on any of the icons in the Task Panel, to add it to your Workflow Canvas.  It will appear in the top left of the Canvas as a new Task.</p>
			<p>4. Drag the Task to any location on the Canvas and resize as necessary.</p>

			<span><b>Creating Workflows:</b></span>

			<p>5. Your workflow is designed to map and mirror your own project processes, by connecting different types of tasks together in a logical way.</p>
			<p>6. Connect Tasks by clicking on the dot that appears when you hover over a Task, and dragging an arrow to the next Task.</p>

			<span><b>Task Attributes:</b></span>

			<p>7. Each task has different attributes.  Right click on each shape in your Workflow Canvas to add or edit the information to suit your requirements.</p>
			<p>8. When you are ready, click "Update Workflow". This will update the workflow in your project and make it available for everyone in your project to see.</p>
			<p>9. Don't worry - Yakkaplan has a few gentle safeguards built in to make sure you don't leave out important information!</p>
		</div>
	</div>
</div>