<input id="g-doc-slide-sidebar" type="checkbox" role="button" checked />
<label for="g-doc-slide-sidebar" class="g-doc-toogle" style="top: 171px;"><i class="fa fa-cog" aria-hidden="true"></i></label>
<div class="g-doc-sidebar" style="top: 171px;">
  <div class="g-doc-desc-info">
    <div class="g-doc-header">
      {{yield}}
    </div>
  </div>
</div>
