<div class="settings-route">
  <div class="content-header collaborator-header">
    <ul class="submenu">
     	{{#link-to "app.admin.category" href=true tagName='li'}}Category{{/link-to}}
    </ul>
  </div>
  {{outlet}}
</div>
