<div class="documents-route">
  <div class="content-header">
    <ul class="submenu">
      {{#link-to "app.workflows.index" href=true tagName='li'}}My Workflows{{/link-to}}
      <!-- {{#link-to "app.workflows.templates" href=true tagName='li'}}Workflow Templates{{/link-to}} -->
    </ul>
  </div>
</div>
{{outlet}}
