<div class="documents-route">
  <div class="content-header">
    <ul class="submenu">
      {{#link-to "app.documents.documents" href=true tagName='li'}}My Documents{{/link-to}}
      <!-- {{#link-to "app.documents.templates" href=true tagName='li'}}Document Templates{{/link-to}} -->
    </ul>
  </div>
</div>

{{app/projects/g-document project=model.project documents=model.documents scope='user' refreshPage='refreshPage'}}