<!DOCTYPE html>
<html>
<head>
  <title>Yakkaplan</title>
 <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
